html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

registerForm {
    border-radius: 16px;
    border-color: #5dc1b9;
    color: #5dc1b9;
    background-color: white;
}