@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmación de contraseña";
}

<h1>@ViewData["Title"]</h1>
<p>
    Por favor, compruebe su correo para resetear la contraseña.
</p>
