@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmación de cambio de contraseña";
}

<h1>@ViewData["Title"]</h1>
<p>
    Se ha cambiado su contraseña. Por favor, <a asp-page="./Login">pulse aquí para iniciar sesión</a>.
</p>
